* {
    padding : 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

.big-hero {
    display: flex;
    justify-content: center;
    color: white;
}

.busqueda {
    display: flex;
    justify-content: center;
}

.card-title {
    color: white;
    text-align: center;
}

.imagen-heroe {
    margin-top: 5rem;
}