* {
    padding : 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

.big-hero {
    display: flex;
    justify-content: center;
}

.busqueda {
    display: flex;
    justify-content: center;
}